# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Environment Variables
.env
.env*.local
!.env.example

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lock*
*.log

# OS Metadata
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE & Scratch
.vscode/
.idea/
scratch/
