# Set default behavior to automatically normalize line endings to LF in repo
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout:
*.ts text
*.tsx text
*.js text
*.jsx text
*.mjs text
*.cjs text
*.json text
*.css text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.glb binary
*.gltf binary
